---
const { title, pubDate, hero, youtube, author, gravatar } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header class="mx-auto max-w-3xl text-center">
    <h1 class="text-5xl font-bold">{title}</h1>
    <div class="flex flex-row justify-between items-center my-4">
      <time itemprop="datePublished" datetime={pubDate} class="text-xs">{pubDate}</time>
      <!-- <div class="flex text-xs justify-center content-center items-center">
          <img class="mx-1 w-10 h-10 rounded-full" src={avatarURl} alt="Rounded avatar">
          <span class="mx-1">{author}</span>
      </div> -->
    </div>
  </header>

  <!-- Image -->
  {hero && <img class="rounded-xl mx-auto" style="min-width: 80%;" loading="lazy" src={hero} alt={title} />}

  <!-- Content -->
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content">
    <slot />
  </section>

</article>